include pyproject.toml
include setup.cfg
include setup.py
include README.rst
include LICENSE

recursive-include src *

exclude .dirschema.yml
exclude .taskcluster.yml
exclude AUTHORS
exclude CODE_OF_CONDUCT.md
exclude Dockerfile.test
exclude HISTORY.rst
exclude tests
exclude tox.ini

recursive-exclude tests *
